        <li>
            <a href="{{ site.baseurl }}{{ recipe.url }}">
                <h3>{{ recipe.title }}</h3>
                {% if recipe.cover %}
                    <img src="{{ recipe.cover }}" alt="{{ recipe.title }}" loading="lazy">
                {% endif %}
            </a>
            <div class="tag-pills">
                {% if recipe.tags contains 'staples' %}
                <span>perus</span>
                {% endif %}
                {% if recipe.tags contains 'storm' %}
                <span>myrsky</span>
                {% endif %}
            </div>
        </li>

